@page
@model Cinema.Pages.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="container">
    <div class="page">
        <div class="breadcrumbs">
            <a asp-page="/index">Trang chủ</a>
            <span>Đăng nhập</span>
        </div>
        <form class="login" method="post">
            <p style="color:red">@Model.mes</p>
            <h2 class="text-dark">Đăng Nhập</h2>
            <input type="text" name="email" placeholder="Tài khoản">
            <input type="password" name="password" placeholder="Mật khẩu">
            <button type="submit">Đăng nhập</button>
            <hr />
            <p>Chưa có tài khoản? <a asp-page="/Register">Đăng ký</a> ngay!</p>
        </form>
    </div>
</div>


<style>
    h2{
        margin:0 auto;
    }
    .login {
        margin: 0 auto;
        overflow: hidden;
        background-color: white;
        padding: 40px 30px 30px 30px;
        border-radius: 10px;
        /*position: absolute;*/
        top: 50%;
        left: 50%;
        width: 400px;
        box-shadow: 5px 10px 10px rgba(2, 128, 144, 1);
    }

        .login::before::before, .login::after::after {
            content: '';
            /*position: absolute;*/
            width: 600px;
            height: 600px;
            border-top-left-radius: 40%;
            border-top-right-radius: 45%;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 40%;
            z-index: -1;
        }

        .login::before {
            background-color: rgba(69, 105, 144, 1);
        }

        .login::after {
            background-color: rgba(2, 128, 144, 1);
        }

        .login input {
            font-family: 'Asap', sans-serif;
            display: block;
            border-radius: 5px;
            font-size: 16px;
            background: white;
            width: 100%;
            border: 0;
            padding: 10px 10px;
            margin: 15px -10px;
        }

        .login button {
            font-family: 'Asap', sans-serif;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            width: 120px;
            border: 0;
            padding: 10px 0;
            margin-top: 10px;
            margin-left: -5px;
            border-radius: 5px;
            background-color: #ffc63c;
        }

            .login button:hover {
                background-color: #ffc63c;
            }
</style>
