@page
@model Cinema.Pages.wiriwrModel

@{
    ViewData["Title"] = "wiriwr";
}

<h1>wiriwr</h1>

<h4>Rate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rate.MovieId" class="control-label"></label>
                <input asp-for="Rate.MovieId" class="form-control" />
                <span asp-validation-for="Rate.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.MemberId" class="control-label"></label>
                <input asp-for="Rate.MemberId" class="form-control" />
                <span asp-validation-for="Rate.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.Comment" class="control-label"></label>
                <input asp-for="Rate.Comment" class="form-control" />
                <span asp-validation-for="Rate.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.Rating" class="control-label"></label>
                <input asp-for="Rate.Rating" class="form-control" />
                <span asp-validation-for="Rate.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate.Time" class="control-label"></label>
                <input asp-for="Rate.Time" class="form-control" />
                <span asp-validation-for="Rate.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
